ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: green;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.content{
  margin : 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

body{
  background-color: #D3D3D3;
}

.wrapper-center {
    position:relative;
}

.wrapper-left {
    position:relative;
}

.wrapper-right {
    position:relative;
}

.box-center {
    position:absolute;
    top:2px;
    left:150px;
    width:200px;
    height:150px;
    border:2px solid red;
    background-color:transparent;
}

.box-left {
    position:absolute;
    top:2px;
    left:0px;
    width:200px;
    height:150px;
    border:2px solid red;
    background-color:transparent;
}

.box-right {
    position:absolute;
    top:2px;
    left:270px;
    width:200px;
    height:150px;
    border:2px solid red;
    background-color:transparent;
}